@import "tailwindcss";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui;
}

/* Memastikan mode gelap dipicu oleh class "dark" di tag HTML */
@variant dark (&:where(.dark, .dark *));